* {
    background-color: #222;
    color: #efefef;
}

h1 {
    font-size: 4rem;
}

.secret {
    font-size: 0.3rem;
    color: #333;
    background-color: #222;
}

#findingdoor {
    color: black;
}

a {
    text-decoration: none;
    color: #efefef;
    padding: 0.05rem;
    background-color: #5b5b5b;
}

